body{
    background:#f4f4f4;
    padding-top: 70px;

}

.flight-card{
    cursor:pointer;
    transition:0.2s;
}

.flight-card:hover{
    transform:scale(1.01);
}

.sticky-flight-header{

    position: sticky;

    top: 56px;

    z-index: 1000;

    background: white;

}


#flightRibbon{

    position: sticky;

    top: 56px;

    z-index: 2000;

    background: #0d6efd;

    color: white;

    padding: 10px 15px;

    font-weight: bold;

}


.bg-purple{

    background-color:
    #6f42c1 !important;

    color:white;

}